<div class="wrapper">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" type="button"
                data-toggle="collapse" data-target=".navbar-collapse"></button>
        <a class="navbar-brand" href="#">Project Name</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-bar">
          <li class="active">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle"
               href="#"
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <h1>
    {{title}}
  </h1>
</div>
